{% extends "base.layout.html" %}

{% block title %}Register{% endblock %}

{% block body %}
<form action="/.toki/signup" method="POST" novalidate>
    <div>
      <label>Username:</label>
      <input type="text" value="{{ credentials.username }}" name="username"/>
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="password"/>
    </div>
    <div>
      <label>Role:</label>
      <select name="role" id="role">
        <option value="User">User</option>
        <option value="Volunteer">Volunteer</option>
        <option value="Moderator">Moderator</option>
        <option value="Admin">Admin</option>
      </select>
    </div>
    <div>
      <input type="submit" value="signup"/>
    </div>
</form>
{% endblock %}
